{{>header}}
{{>navigation}}
<script src="../js/index.js"></script>
<style>
body{
    background:
        linear-gradient(
          rgba(220, 220, 220, 0.6),
          rgba(220, 220, 220, 0.6)
        ),
        url(Saint-Nicolas_Lake_Resort.jpg);
        background-size: cover;
}
.card{
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    padding: 20px 30px;
    margin: 10px;
    display: inline-block
}

.card-title {
    margin-bottom: .75rem;
}
pre{
    display: none;
}
</style>
<br><br>
<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rooms availability</h4>
            <p class="card-text">
                There are
                <span class="badge" id="rooms-available"></span>
                rooms available<br>and
                <span class="badge" id="rooms-occupied"></span>
                rooms occupied
            </p>
            <a class="btn btn-primary" onclick="showRooms();" id="showRooms" style="display: block">Show rooms</a>
            <a class="btn btn-default" onclick="hideRooms();" id="hideRooms" style="display: none">Hide rooms</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Guests arriving today</h4>
            <p class="card-text">There are
            <span class="badge" id="guests-arriving"></span>
            guests arriving today</p>
            <a class="btn btn-primary" onclick="showGuests();" id="showGuests" style="display: block">Show guests</a>
            <a class="btn btn-default" onclick="hideGuests();" id="hideGuests" style="display: none">Hide guests</a>
        </div>
    </div>
</div>
<br><br>
<div id="guest-list" class="card" style="display: none; width: 400px">
    <h4>Guests arriving today</h4>
    <div class="card-body">
        <ul id="guest-list-table">
        </ul>
    </div>
</div>
<div id="room-list" class="card" style="display: none; width: 200px">
    <h4>Available rooms</h4>
    <div class="card-body">
        <ul id="available-list-table">
        </ul>
    </div>
    <h4>Occupied rooms</h4>
        <div class="card-body">
            <ul id="occupied-list-table">
            </ul>
        </div>
</div>
{{>footer}}