{{>header}}
{{>navigation}}
<script src="../js/room.js"></script>
<script src="../js/roomCalendar.js"></script>
<link rel="stylesheet" href="../css/roomCalendar.css">
<style>
    #confirmbutton {
        display: none;
    }
    #scrolldiv {
        height : 250px;
        overflow : auto;
    }
</style>
<script>
    $(document).ready(onDocumentReady);
</script>
<div class="container">
    <h1>Lakeside Resort</h1>
    <h3>Room List</h3>

    <table id="roomtable" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Roomnumber</th>
            <th>Size</th>
            <th>Type</th>
            <th>AvailableFrom</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Roomnumber</th>
            <th>Size</th>
            <th>Type</th>
            <th>AvailableFrom</th>
        </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>
    <button onclick="apiLoadDatatables()" class="btn">Get Rooms</button>
    <button onclick="createRoomDiv()" class="btn" data-toggle="modal" data-target="#myModal">Create Room</button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Title</h3>
                </div>
                <div class="modal-body">
                    <form id="form-room" class="form-horizontal">
                        <div id="roomnumberdiv" class="form-group">
                            <label class="control-label col-sm-2" for="roomnumber">RoomNumber:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="roomnumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="roomtype">Room Type:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="roomtype">
                                    <option value="BUDGET">Budget</option>
                                    <option value="NORMAL">Normal</option>
                                    <option value="LUXURY">Luxury</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="roomsize">Room Size:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="roomsize">
                                    <option value="ONE_PERSON">1</option>
                                    <option value="TWO_PERSON">2</option>
                                    <option value="THREE_FOUR_PERSON">3-4</option>
                                    <option value="FIVE_SIX_PERSON">5-6</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10 date">
                                <div class="input-group input-append date" id="datePicker">
                                    <input type="text" class="form-control" id="date" name="date" />
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnsubmit">Submit</button>
                    <a href="#" id="confirmbutton" data-title="Are you sure" data-trigger="focus" data-toggle="clickover" data-placement="top" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendarContainer" room="">
        <div class="calendarHeader">
            <button class="btn btn-primary" id="lastMonth" onclick="lastMonth()"><</button>
            <div class="dateInfo">
                <div id="year"></div>
                <div id="month"></div>
            </div>
            <button class="btn btn-primary" id="nextMonth" onclick="nextMonth()">></button>
        </div>
        <div class="calendarBody">

            <table id="calendar">
                <tr>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                    <td>So</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{>footer}}